@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;700&display=swap'); /* for fonts */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'); /* for icons */

.bg-login {
  background-image: url('./assets/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
